pkgbase = valhalla-git
	pkgdesc = Routing engine for OpenStreetMap.
	pkgver = 3.5.1.r211.068a00c
	pkgrel = 1
	url = https://github.com/valhalla/valhalla
	arch = x86_64
	arch = aarch64
	license = MIT
	checkdepends = spatialite-tools
	checkdepends = unzip
	checkdepends = curl
	checkdepends = jq
	makedepends = cmake
	makedepends = git
	makedepends = vim
	makedepends = jq
	makedepends = boost
	makedepends = cxxopts
	makedepends = libosmium
	makedepends = unordered_dense
	makedepends = libmicrohttpd
	depends = prime_server
	depends = protobuf
	depends = python
	depends = libspatialite
	depends = luajit
	depends = chrono-date
	depends = gdal
	depends = python-lz4
	depends = python-shapely
	provides = valhalla=3.5.1.r211.068a00c
	conflicts = valhalla
	source = valhalla-git::git+https://github.com/valhalla/valhalla.git#commit=068a00c73c637ad9658cf91ff9008854166ebc29
	sha256sums = SKIP

pkgname = valhalla-git
